/*footer*/
.pie {
    background: linear-gradient(to right, #fafafa, orange);
    align-items: center;
    margin-top: 5rem;

    ul {
        li {
            display: inline-block;

            a {
                font-size: 3rem;
                margin: 4rem;
                @include lista;

                &:hover {
                    color: $color_2;
                }
            }
        }
    }
}
/*MIXIN UTILIZADO EN HEADER Y FOOTER*/
@mixin lista {
    text-decoration: none;
    color: $color_3;
}

.tituloFooter {
    font-size: 5rem;
    color: $color_1;
    font-weight: 500;
}

.pieFinal {
    font-size: 1.5rem;
}